* {
  background-color: #121212;
  color: #fff;
}

.navbar-main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid white;
}

.navbar-main #btn-logout {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.navbar-main #btn-logout:hover {
  background-color: white;
  color: black;
}

.navbar-main .logo-col {
  padding-left: 3rem;
}

.navbar-main .logo-col #logo {
  width: 100%;
  cursor: pointer;
}

.navbar-main .cart {
  padding-right: 3rem;
  padding-top: 1rem;
}

.navbar-main .nav-links {
  text-align: center;
  cursor: pointer;
}

.navbar-main .nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar-main .nav-links ul li {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
}

.navbar-main .nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.login-prompt-main {
  border: 1px solid white;
  border-right: 1px solid white;
  border-radius: 5px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
}

.login-prompt-main .btn-col {
  text-align: center;
}

.login-prompt-main .btn {
  margin-top: 2.5rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  margin-right: 4rem;
}

.login-prompt-main .btn:hover {
  background-color: white;
  color: black;
}

.login-main {
  margin-top: 5%;
}

.login-main .login-form .form-group {
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid white;
  padding: 5rem;
}

.login-main .login-form .form-group #emailHelp {
  color: white;
}

.login-main .login-form .form-group #exampleInputPassword1 {
  margin-top: 2rem;
}

.login-main .login-form .form-group .btn {
  margin-top: 3rem;
  color: white;
  background-color: black;
  border: 2px solid white;
  margin-right: 4rem;
}

.login-main .login-form .form-group .btn:hover {
  background-color: white;
  color: black;
}

.home-main .home-title-content {
  margin-top: 2%;
}

.home-main .home-title-content h3 {
  font-weight: bold;
  font-size: 40px;
}

.home-main .home-title-content p {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
}

.home-main .container {
  margin-top: 2%;
}

.home-main .container .checkout-btn {
  color: white;
  background-color: black;
  border: 2px solid white;
  display: none;
}

.home-main .container .checkout-btn:hover {
  background-color: white;
  color: black;
}

.home-main .container #card-container {
  padding: 2rem;
  position: relative;
}

.home-main .container #card-container h3 {
  position: relative;
  top: 40%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.home-main .container .card {
  background: url("../Assets/bg_card.png");
  cursor: pointer;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  height: 40rem;
}

.home-main .container .selected {
  border: 3px solid cyan;
}

.home-main .container .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.cart-items-main ul {
  list-style: none;
}

.cart-items-main ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-items-main .trash-btn {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  margin-left: 3rem;
}

.cart-items-main .trash-btn:hover {
  background-color: white;
  color: black;
}

.cart-items-main .quotation-btn {
  color: white;
  background-color: black;
  border: 2px solid white;
  margin-top: 2rem;
}

.cart-items-main .quotation-btn:hover {
  background-color: white;
  color: black;
}

.quotation-main {
  margin-top: 5%;
}

.quotation-main h2 {
  margin-bottom: 2rem;
}

.quotation-main input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 50px;
}

.quotation-main label {
  font-size: 18px;
}

.quotation-main #course-list {
  font-size: 17px;
  list-style-type: disc;
}

.quotation-main .btn {
  color: white;
  background-color: black;
  border: 2px solid white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.quotation-main .btn:hover {
  background-color: white;
  color: black;
}

.about-main {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

footer {
  margin-top: 5%;
  border-top: 1px solid white;
  padding: 1rem;
  padding-top: 2rem;
}

footer .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-text p {
  margin-right: 3rem;
}

footer .footer-text div {
  margin-left: 3rem;
}

.register-main {
  margin-top: 5%;
}

.register-main input {
  padding: 20px;
  margin-bottom: 2rem;
  width: 75%;
  margin-left: 12%;
}

.register-main .btn {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.register-main .btn:hover {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=style.css.map */